<footer class="c-footer">
    <div class="o-box">
        <div class="c-footer-wrap">
            <div class="c-footer-left">
                <p>Application footer content</p>
            </div>

            <div class="c-footer-right">
                {% include "ideil.twig" %}
            </div>
        </div>
    </div>
</footer>
