<header class="c-header">
    <div class="o-box">
        <div class="c-header-wrap">
            <div class="c-header-logo">
                <a href="00-home.html" class="c-header-logo__link">
                    {% include "../../img/ideil.svg" %}
                </a>
            </div>

            <nav class="c-header-nav">
                <ul class="c-header-nav__list">
                    <li class="c-header-nav__item">
                        <a href="00-home.html" class="c-header-nav__link">Home</a>
                    </li>

                    <li class="c-header-nav__item">
                        <a href="#" class="c-header-nav__link">Post</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
