<div class="c-ideil">
    <a class="c-ideil-link" href="https://www.ideil.com/">
        зроблено в
        <span class="sr-only">ideil.</span>

        {% include '../../img/ideil.svg' %}
    </a>
</div>
